{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>Activate/Deactivate a User</h1>
    <br>
    <form id="activate_user_form" action="/activate_user" method="post">
        <input type="text" placeholder="User email" name="email">
        <input type="radio" id="activate" name="is_active" value="1">
        <label for="activate">Activate</label>
        <input type="radio" id="deactivate" name="is_active" value="0">
        <label for="deactivate">Deactivate</label>
        <input class="btn btn-success" type="submit" value="Apply">
    </form>
    <br>
    <h5>List of Users</h5>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Is Active</th>
          <th scope="col">User Type</th>
          <th scope="col">Is Admin</th>
        </tr>
        {% for user in list_of_users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ 'Yes' if user[2] == 1 else 'No' }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ 'Yes' if user[4] == 1 else 'No' }}</td>
        </tr>
        {% endfor %}
      </thead>
      <tbody>
      </tbody>
    </table>
</div>
{% endblock %}