{% extends 'base.html' %}

{% block head %}
<style>
    h1 {text-align: center;}
</style>
{% endblock %}

{% block body %}
<div class="container">
    <h1>My Applications</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Posting ID</th>
          <th scope="col">Email</th>
          <th scope="col">Job Title</th>
          <th scope="col">Description</th>
          <th scope="col">Posting Date</th>
          <th scope="col">Status</th>
          <th scope="col">Category</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>

{% endblock %}