{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
        <h1>Please enter your full name and email address:</h1>
        <br>
        <form  id="my_form" method="post" >
            <div class="form-group">
            <label for='name'></label>
                <input type="text" class="form-control" name="name" value="{{ request.form.name }}" placeholder="First-Name Last-Name" id="username">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" value="{{ request.form.email }}" placeholder="Email" id="e-mail">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="confirm_email" value="" placeholder="Confirm Email" id="confirm_e-mail">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success mb-2">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}
