{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Email" name="username" value="{{
        request.form.username }}">
       <input type="password" placeholder="Password" name="password" value="{{
        request.form.password }}">
      <input class="btn btn-success" type="submit" value="Login">
        <br>
    </form>
        <span id="passwordHelpBlock" class="help-block"><a href="forgot">Forgot Password?</a></span>
    {% if error != None %}
    <h5>{{ error }}</h5>
    {% endif %}
</div>
{% endblock %}
