{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>List of Payment Methods</h1>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Payment Number</th>
          <th scope="col">Payment Type</th>
          <th scope="col">Withdrawal Type</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        {% for payment in list_of_payment %}
        <tr>
            <td>{{ payment[0] }}</td>
            <td>{{ payment[1] }}</td>
            <td>{{ payment[2] }}</td>
            <td><form method="GET" action="/modify_payment_method/{{ payment[0] }}">
                <input type="submit" value="Modify" /></form></td>
            <td><form method="POST" action="/delete_payment_method/{{ payment[0] }}">
                <input type="submit" value="Remove" /></form></td>
        </tr>
        {% endfor %}
      </thead>
    </table>
</div>
{% endblock %}