{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="container">
    <h1>Sign Up</h1>
    <br>
    <form  id="my_form" method="post" ><div class="form-group">
        <label for='username'></label>
         <input type="text" class="form-control" name="username" value="" placeholder="Username" id="username">
     </div>
     <div class="form-group">
         <input type="email" class="form-control" name="e-mail" value="" placeholder="Email" id="e-mail">
     </div>
     <div class="form-group">
         <input type="email" class="form-control" name="confirm_email" value="" placeholder="Confirm Email" id="confirm_e-mail">
     </div>
     <div class="form-group">
         <input type="password" class="form-control" name="password" value="" placeholder="Password" id="password">
</div>
     <div class="form-group">
         <input type="password" class="form-control" name="confirm_password" value="" placeholder="Confirm Password" id="confirm_password">
     <div class="text-center">     
         <button type="submit" class="btn btn-success mb-2">Sign Up</button>
    </div>
 </form>  
</div>

{% endblock %}