{% extends 'base.html' %}

{% block head %}
<style>
    button {align: center;}
</style>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Modify Profile</h1>
    <br>
    <form  id="change_pw_form" method="post"action="/modify_password">
        <h5>Change Password</h5>
        <div class="form-group">
             <input type="password" class="form-control" name="new_password" value="" placeholder="New Password" id="new_password">
        </div>
        <div>
            <button type="submit" class="btn btn-success mb-2">Change Password</button>
        </div>
    </form>
    <form id="change_name_form" method="post"action="/modify_name">
        <h5>Modify Name</h5>
        <div class="form-group">
            <input type="text" class="form-control" name="new_name" value="" placeholder="New Name" id="new_name">
        </div>
        <div>
            <button type="submit" class="btn btn-success mb-2">Change Name</button>
        </div>
    </form>
    <form  id="user_delete_form" method="post"action="/delete_user_account">
       <div>
            <button type="submit" class="btn btn-success mb-2">Delete Account</button>
        </div>
    </form>
</div>
<br>
<div class="container">
    <h1>Change User Category</h1>
    <br>
    <form id="change-user-category-form" action="" method="post">
        {% if user_type == 'User'%}
            <label class="radio-inline"><input type="radio" name="optradio" value="User Basic">User Basic</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="User Prime">User Prime</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="User Gold">User Gold</label>
        {% else %}
            <label class="radio-inline"><input type="radio" name="optradio" value="Employer Prime">Employer Prime</label>
            <label class="radio-inline"><input type="radio" name="optradio" value="Employer Gold">Employer Gold</label>
        {% endif %}
        <br>
        <input class="btn btn-success" type="submit" value="Change Category">
    </form>
    <h2>{{ msg }}</h2>
</div>
{% endblock %}